In [1]:
#creating an empty series
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

In [3]:
#creating series from ndarray
import pandas as pd
import numpy as np
arr=np.array(['a','b','7'])
s=pd.Series(arr)
print(s)

0    a
1    b
2    7
dtype: object

In [4]:
import pandas as pd
import numpy as np
arr=np.array(['s','a','k','k','u'])
s=pd.Series(arr,index=[50,51,55,57,67])
print(s)

50    s
51    a
55    k
57    k
67    u
dtype: object

In [8]:
#creating a series from dict
import pandas as pd
import numpy as np
#arr={'a':0,'b':1,'c':2}
arr={'a':0.,'b':8.}
#s=pd.Series(arr)
s=pd.Series(arr,index=['b','c'])
print(s)

b    8.0
c    NaN
dtype: float64

In [9]:
#creating a series from scalar
import pandas as pd
import numpy as np
arr=pd.Series(5,index=[0,1,2,3,4,5])
print(arr)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [22]:
#access data from series with position
import pandas as pd
import numpy as np
a=np.array(['a','b','c'])
s=pd.Series(a,index=[1,2,3])
print(s[0:1])

1    a
dtype: object

In [33]:
#reterive data from label
import pandas as pd
import numpy as np
a=np.array(['a','b','c','d','e'])
s=pd.Series(a,index=[1,2,3,4,5])
print(s[[1,2,3]])

1    a
2    b
3    c
dtype: object

In [34]:
#create an empty panda dataframe
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [43]:
#create dataframe from lists
import pandas as pd
#data=[1,2,3]
data=['a','b','c']
df=pd.DataFrame(data)
print(df)

   0
0  a
1  b
2  c

In [50]:
import pandas as pd
data = [['Alex',10,'a'],['Bob',12,'b'],['Clarke',13,'c']]
df = pd.DataFrame(data,columns=['Name','Age','alp'],dtype=float)
print(df)

     Name   Age alp
0    Alex  10.0   a
1     Bob  12.0   b
2  Clarke  13.0   c

In [57]:
import pandas as pd
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [59]:
#create a dataframe from lists
import pandas as pd
data = [{'a': 1, 'b': 2,'d':4},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c    d
first   1   2   NaN  4.0
second  5  10  20.0  NaN

In [65]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20,'e':100}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b','e'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b','c'])
print(df1)
print(df2)

        a   b      e
first   1   2    NaN
second  5  10  100.0
        a   b     c
first   1   2   NaN
second  5  10  20.0

In [82]:
#create a dataframe from dict of series
import pandas as pd
d = {'first' : pd.Series([1, 2, 3]),'second' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print('\n')
print('after adding a column:')
df['third']=df['first']+df['second']
print(df)
print('\n')
del df['first']
print(df)
print('\n')
df.pop('second')
print(df)

   first  second
0    1.0     NaN
1    2.0     NaN
2    3.0     NaN
a    NaN     1.0
b    NaN     2.0
c    NaN     3.0
d    NaN     4.0


after adding a column:
   first  second  third
0    1.0     NaN    NaN
1    2.0     NaN    NaN
2    3.0     NaN    NaN
a    NaN     1.0    NaN
b    NaN     2.0    NaN
c    NaN     3.0    NaN
d    NaN     4.0    NaN


   second  third
0     NaN    NaN
1     NaN    NaN
2     NaN    NaN
a     1.0    NaN
b     2.0    NaN
c     3.0    NaN
d     4.0    NaN


   third
0    NaN
1    NaN
2    NaN
a    NaN
b    NaN
c    NaN
d    NaN